*{
    margin: 0 auto;
    font-family: sans-serif;
}

body{
  background: #C9D6FF;
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
}

#Contenedor{
    text-align: center;
    margin: auto;
    width: 40%;
    height: 350px;
    margin-top: 85px;
    border: 2px solid #000000;
    border-radius: 10px 10px;
}

h2{
    margin-top: 15px;
    text-align: center;
}

input{
    width: 70%;
    margin: 0 auto;
    height: 30px;
    margin-top: 15px;
    
}

.col-12{
    text-align: center;
}

.col-6{
    text-align: center;
}
a:link, a:visited, a:active {
     text-decoration:none;
    color: white;
}

@media (max-width:780px){
    
}